<h2>Welcome!</h2>
<img border="0" src="/images/diml_logo1.png" align="left" hspace="20">

<p>Digital Image Media Lab is a research lab based in Yonsei University, Seoul, South Korea. Since the lab was founded in 1996 under supervision of <a href="/professor/">Prof. Kwanghoon Sohn</a>, we have been conducting research on diverse topics in image processing and computer vision area.</p>

<p>Some of the selected topics we are interested and currently working on are:</p>

<p>
<table border="0" style="text-align:left;">
<tr> <th>
<p style="align:left; width:380px">

<ul>
    <li>3D Video Processing</li>
    <p>Deep Learning for 3D Video Processing<br>
    Multi-view Video Processing<br>
    Image Enhancement / Editing<br></p>
    <li>Intelligent Computer Vision</li>
    <p>Deep Learning for Vision<br>
    ADAS(advanced driver assistance systems)<br>
    Multispectral Imaging / Feature Extraction<br></p>
</ul>
</p>
</th>
<th>
  <!--<div class="w3-content w3-section" style="max-width:370px; max-height:225px; position:relative; right:7%; top:50%">
    <img class="mySlides" src="/images/banner/Sunok_KAU.PNG" style="width:370px; height:225px">
    <img class="mySlides" src="/images/banner/minsoo_AAAI2021.PNG" style="width:370px; height:225px">
    <img class="mySlides" src="/images/banner/Hyungjoo_AAAI2021.PNG" style="width:370px; height:225px">
    <img class="mySlides" src="/images/banner/Seungryong_prize.PNG" style="width:370px; height:225px">
  </div>-->

<div class="w3-content w3-section" style="max-width:315px; max-height:235px; position:relative">
  <img class="mySlides" src="/images/overview1.png" style="width:315px; height:235px">
  <img class="mySlides" src="/images/overview2.png" style="width:315px; height:235px">
  <img class="mySlides" src="/images/overview3.png" style="width:315px; height:235px">
  <img class="mySlides" src="/images/overview4.png" style="width:315px; height:235px">
  <img class="mySlides" src="/images/overview5.png" style="width:315px; height:235px">
  <img class="mySlides" src="/images/overview6.png" style="width:315px; height:235px">
</div>
</th>
</tr>
</table>
</p>