<h2>News</h2>
<ul>
  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Magazine Science 21 has interviewed Professor Kwanghoon Sohn for his outstanding achievements in computer vision area. You may check the article <a href="http://www.s21.co.kr/news_view.jsp?ncd=3445" target="_blank">here</a>., <i>Feb. 2020</i></li>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Hyunsuk Ko (Ph.D.) will join the faculty of <a href="https://eece.hanyang.ac.kr/" target="_blank">Electronic Engineering, Hanyang University ERICA campus</a>, <i>Jan. 2020</i></li>
  </div><DIV style='display:none'>

  <p style="color:gray;">
  </p>
  <img src="/images/member/alumni/kohyunsuk.jpg" style="width:20%;"><br>
  Doctor Hyunsuk Ko is employed as an Assistant Professor in Dept. of Electronic Engineering, Hanyang University ERICA campus.
  Doctor Ko received Master degrees from Yonsei University in Digital Image Media Lab (Prof. Sohn’s Team) in 2009.
  After he received Ph.D at the University of Southern California (USC), he worked at  the ETRI as a researcher.
  <br>
  </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim (Ph.D.) will join the faculty of <a href="http://cs.korea.ac.kr/cs/index.do" target="_blank">Computer Science and Engineering, Korea University</a>, <i>Jan. 2020</i></li>
  </div><DIV style='display:none'>

  <p style="color:gray;">
  </p>
  <img src="/images/member/kimseungryong.png" style="width:20%;"><br>
  Doctor Seungryong Kim is employed as an Assistant Professor in Dept. of Computer Science and Engineering, Korea University from Mar. 2020.<br>
  Doctor Kim received Ph.D. degrees from Yonsei University in Digital Image Media Lab (Prof. Sohn’s Team) in 2018, and was a Postdoctoral Researcher in Yonsei University and École polytechnique fédérale de Lausanne (EPFL), Switzerland.<br>
  </p>
  </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Taeyong Song (Ph.D. Student)'s paper has been accepted in <b>International Journal of Computer Vision (IJCV)</b>, <i>Jan. 2020</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <b>"Simultaneous Deep Stereo Matching and Dehazing with Feature Attention"</b> <br>
      T. Song, Y. Kim, C. Oh, H. Jang, N. Ha, and K. Sohn <br>
      International Journal of Computer Vision (IJCV).<br>
      </p>
    </div>

      <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
      <li>Congratulations! Hunsang Lee (Ph.D. Student)'s paper has been accepted in <b>IEEE Signal Processing Letters</b>, <i>Dec. 2019</i></li>
      </div><DIV style='display:none'>

        <p style="color:gray;">
        <b>"Unsupervised Low-light Image Enhancement using Bright Channel Prior"</b> <br>
        H. Lee, K. Sohn, and D. Min <br>
        IEEE Signal Processing Letters.<br>
        </p>
      </div>

        <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
        <li>Congratulations! Hyungju Jung (Ph.D. Student)'s paper has been accepted in <b>IEEE Trans. on Image Processing</b>, <i>Dec. 2019</i></li>
        </div><DIV style='display:none'>

          <p style="color:gray;">
          <b>"Toward Unsupervised Deep Image Fusion with Structure Tensor Representations"</b> <br>
          H. Jung, Y. Kim, H. Jang, N. Ha, and K. Sohn <br>
          IEEE Trans. on Image Processing.<br>
          </p>
        </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Hansung Kim (Ph.D.) will join the faculty of <a href="https://www.southampton.ac.uk/" target="_blank">University of Southampton</a>, <i>Nov. 2019</i></li>
</div><DIV style='display:none'>

  <p style="color:gray;">
  </p>
  <img src="/images/hskim.png" style="width:40%;"><br>
  Doctor Hansung Kim is employed as a Professor (Tenure Track, Senior Lecturer) in Dept. of Electronics and Computer Science, University of Southampton, United Kingdom.<br>
  He was a researcher in Advanced Telecommunications Research Institute International (ATR), Japan, and a senior research fellow in Centre for Vision, Speech, and Signal Processing (CVSSP) at University of Surrey, UK.<br>
  </p>
</div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim (Ph.D.)'s paper has been accepted in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Nov. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Dense Cross-Modal Correspondence Estimation with the Deep Self-Correlation Descriptor"</b> <br>
    S. Kim, D. Min, S. Lin, and K. Sohn <br>
    IEEE Trans. on Pattern Analysis and Machine Intelligence.<br>
    </p>
  </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Wonil Song (Ph.D. Student)'s paper has been accepted in <b>AAAI (Oral)</b>, <i>Nov. 2019</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <b>"Stereoscopic Image Super-Resolution with Stereo Consistent Feature"</b> <br>
      W. Song, S. Choi, S. Jeong, and K. Sohn <br>
      The Thirty-Fourth AAAI Conference on Artificial Intelligence, February 2020.<br>
      </p>
    </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jungin Park (Ph.D. Student) has won <b>The 3rd place for the challenge on CoVieW'2019 ICCV Workshop</b>, <i>Oct. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <img src="/images/photo/coview2019_award.jpg" style="width:40%;"><br>
    <b>"Video Summarization by Learning Relationships between Action and Scene"</b><br>
    J. Park, J. Lee, S. Jeon, and K. Sohn <br>
    IEEE International Conference on Computer Vision Workshop (ICCVW), October 2019.<br>
    Jungin Park (Ph.D. Student)'s work has been awarded <b>The Third Place in Challenge Track</b> for video summarization and recognition task on CoVieW'2019 ICCV Workshop.
    </p>
  </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! One of our project has been awarded <b>Outstanding 100 National Research Projects</b>, <i>Oct. 2019</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <img src="/images/100.png" style="width:40%;"><br>
      Our project <b>Research on Fundamental Technology for Deep Learning-Based Semantic State Understanding</b> has been awarded <b>Outstanding 100 National Research Projects</b> by Ministry of Science and ICT.<br>
      The research team developed an efficient algorithm that automatically annotate emotion/action/scene labels on the untrimmed videos.
      The newly introduced dataset annotated with developed algorithm has been publicly released for reproducability and used as a standard benchmark for CoVieW 2018 (in conjunction with ACMMM2018) and 2019 (in conjunction with ICCV2019) challenge.<br>
      </p>
    </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Jungin Park (Ph.D. Student)'s paper has been accepted in <b>ICCV Workshop</b>, <i>Sep. 2019</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <b>"Video Summarization by Learning Relationships between Action and Scene"</b><br>
      J. Park, J. Lee, S. Jeon, and K. Sohn <br>
      IEEE International Conference on Computer Vision Workshop (ICCVW), October 2019.<br>

      </p>
    </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Jiyoung Lee (Ph.D. Student)'s paper has been accepted in <b>International Conference on Computer Vision (ICCV)</b>, <i>Jul. 2019</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <b>"Context-Aware Emotion Recognition Networks"</b> <br>
      J. Lee, S. Kim, S. Kim, J. Park, and K. Sohn <br>
      International Conference on Computer Vision (ICCV), October 2019.<br>

      </p>
    </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Sangryul Jeon (Ph.D. Student)'s paper has been accepted in <b>International Conference on Computer Vision (ICCV)</b>, <i>Jul. 2019</i></li>
    </div><DIV style='display:none'>

      <p style="color:gray;">
      <b>"Joint Learning of Semantic Alignment and Object Landmark Detection"</b> <br>
      S. Jeon, D. Min, S. Kim, and K. Sohn <br>
      International Conference on Computer Vision (ICCV), October 2019.<br>

      </p>
    </div>

    <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
    <li>Congratulations! Changjae Oh(Ph.D.) will join the faculty of <a href="http://www.qmul.ac.uk/" target="_blank">Queen Mary University of London</a>, <i>Jul. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    </p>
    <img src="/images/cjoh.png" style="width:40%;"><br>
    Changjae Oh is employed as a Lecturer (Assistant Professor) in School of Electronic Engineering and Computer Science (EECS), specifically Multimedia area.<br>
    EECS at QMUL is ranked 100th in the 2019 Times Higher Education World University Rankings, 9th most highly ranked in the UK for computer science.<br>
    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Somi Jeong (Ph.D. Student)'s paper has been accepted in <b>IEEE Trans. on Image Processing</b>, <i>May. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Learning to Find Unpaired Cross-spectral Correspondences"</b> <br>
    S. Jeong, S. Kim, K. Park, and K. Sohn <br>
    IEEE Trans. on Image Processing (TIP).<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sunghun Joung (Ph.D. Student)'s paper has been accepted in <b>IEEE Trans. on Intelligent Transportation Systems</b>, <i>May. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Unsupervised Stereo Matching Using Confidential Correspondence Consistency"</b> <br>
    S. Joung, S. Kim, K. Park, and K. Sohn <br>
    IEEE Trans. on Intelligent Transportation Systems (TITS).<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jungin Park (Ph.D. Student)'s paper has been accepted in <b>ICIP (Oral)</b>, <i>May. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Graph Regularization Network with Semantic Affinity for Weakly-supervised Temporal Action Localization"</b> <br>
    J. Park, J. Lee, S. Jeon, S. Kim, and K. Sohn <br>
    IEEE International Conference on Image Processing (ICIP), September 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Minsu Kim (Ph.D. Student)'s paper has been accepted in <b>ICIP (Oral)</b>, <i>May. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Unpaired Cross-Spectral Pedestrian Detection Via Adversarial Feature Learning"</b> <br>
    M. Kim, S. Joung, K. Park, S. Kim, and K. Sohn <br>
    IEEE International Conference on Image Processing (ICIP), September 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim (Ph.D.)'s paper has been accepted in <b>CVPR</b>, <i>Mar. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Semantic Attribute Matching Networks"</b> <br>
    S. Kim, D. Min, S. Jeong, S. Kim, S. Jeon, and K. Sohn <br>
    IEEE Conf. Computer Vision Pattern Recognition (CVPR), June 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sunok Kim (Ph.D.)'s paper has been accepted in <b>CVPR (Oral)</b>, <i>Mar. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"LAF-Net: Locally Adaptive Fusion Networks for Stereo Confidence Estimation"</b> <br>
    S. Kim, S. Kim, D. Min, and K. Sohn <br>
    IEEE Conf. Computer Vision Pattern Recognition (CVPR), June 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Changjae Oh(Ph.D.)'s paper has been accepted in <b>Expert Systems With Applications</b>, <i>Jan. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"OCEAN: Object-Centric Arranging Network for Self-supervised Visual Representations Learning"</b> <br>
    C. Oh, B. Ham, H. Kim, A. Hilton, and K. Sohn <br>
    Expert Systems With Applications (ESWA), Jan 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Yoonji Cho(Postdoctoral Researcher)'s paper has been accepted in <b>Coloration Technology</b>, <i>Jan. 2019</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"The Impact of Viewing Conditions on Observer Variability for Cross-Media Colour Reproduction"</b> <br>
    Y. Cho, G. Cui, R. Luo, and K. Sohn <br>
    Coloration Technology, Jan 2019.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Kihong Park(Ph.D. Student)'s paper has been accepted in <b>IEEE Trans. on Intelligent Transportation Systems</b>, <i>Dec. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"High-precision Depth Estimation Using Uncalibrated LiDAR and Stereo Fusion"</b> <br>
    K. Park, S. Kim, and K. Sohn <br>
    IEEE Trans. on Intelligent Transportation Systems (TITS), Dec 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Youngjung Kim(Ph.D.)'s paper has been accepted in <b>IEEE Trans. on Image Processing</b>, <i>Dec. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Structure-Texture Image Decomposition using Deep Variational Priors"</b> <br>
    Y. Kim, B. Ham, M. Do, and K. Sohn <br>
    IEEE Trans. on Image Processing (TIP), Dec 2018.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>We co-organized <i>The 1st Workshop and Challenge on Comprehensive Video Understanding in the Wild (CoVieW'18)</i> in <b>ACM Multimedia Workshop 2018</b>.</li>
  </div><DIV style='display:none'>
    <br>
    <p><img src="/images/coview2018.png" style="width:90%; height:90%;">
    <p style="color:gray;">
    <b>The 1st Workshop and Challenge on Comprehensive Video Understanding in the Wild (CoVieW'18)</b> <br>
    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>We co-organized <i>Workshop on Audio-Visual Scene Understanding for Immersive Multimedia</i> in <b>ACM Multimedia Workshop 2018</b>.</li>
  </div><DIV style='display:none'>
    <br>
    <p><img src="/images/acmmm_uk.png" style="width:80%; height:80%;">
    <p style="color:gray;">
    <b>Workshop on Audio-Visual Scene Understanding for Immersive Multimedia</b> <br>
    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sunok Kim(Ph.D. Student)'s paper has been accepted in <b>IEEE Trans. on Image Processing</b>, <i>Oct. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Unified Confidence Estimation Networks for Robust Stereo Matching"</b> <br>
    S. Kim, D. Min, S. Kim, and K. Sohn <br>
    IEEE Trans. on Image Processing (TIP), Oct 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Postdoctoral Researcher)'s paper has been accepted in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Sep. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Discrete-Continuous Transformation Matching for Dense Semantic Correspondence"</b> <br>
    S. Kim, D. Min, S. Lin, and K. Sohn <br>
    IEEE Trans. on Pattern Analysis and Machine Intelligence (TPAMI), Sep 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Taeyong Song(Ph.D. Student) was awarded the Best Science Paper Honourable Mention in <b>BMVC 2018</b>, <i>Sep. 2018</i></li>
  </div><DIV style='display:none'>
    </p>
    <p><img src="/images/BMVC18_awards.png" style="width:40%; height:40%;">
    <p style="color:gray;">
    <b>"Deep Network for Simultaneous Stereo Matching and Dehazing"</b><br>
    T. Song, Y. Kim, C. Oh, and K. Sohn <br>
    BMVC, September. 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Postdoctoral Researcher)'s paper has been accepted in <b>NIPS (Spotlight)</b>, <i>Dec. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b> "Recurrent Transformer Networks for Semantic Correspondence"</b><br>
    S. Kim, S. Lin, S. Jeon, D. Min, and K. Sohn <br>
    ACMMM Workshops, October. 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jungin Park(Ph.D. Student)'s paper has been accepted in <b>ACMMM Workshop</b>, <i>Oct. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b> "Learning to Detect, Associate, and Recognize Human Actions and Surrounding Scenes in Untrimmed Videos"</b><br>
    J. Park, S. Jeon, S. Kim, J. Lee, S. Kim, and K. Sohn <br>
    ACMMM Workshops, October. 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jiyoung Lee(Ph.D. Student)'s paper has been accepted in <b>ACMMM Workshop</b>, <i>Oct. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Audio-Visual Attention Networks for Emotion Recognition"</b><br>
    J. Lee, S. Kim, S. Kim and K. Sohn <br>
    ACMMM Workshops, October. 2018.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Yoonji Cho(Postdoctoral Researcher)'s paper has been accepted in <b>CIC26</b>, <i>Nov. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Reversible Colour Appearance Scales for Describing Saturation, Vividness, Blackness, and Whiteness for Image Enhancement"</b><br>
    Y. Cho, G. Cui, and K. Sohn <br>
    CIC26, November. 2018.<br>

    </p>
  </div>




  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sangryul Jeon(Ph.D. Student)'s paper has been accepted in <b>ECCV </b>, <i>Sep. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"PARN : Pyramidal Affine Regression Networks for Dense Semnatic Correspondence Estimation"</b><br>
    S. Jeon, S. Kim, D. Min, and K. Sohn <br>
    ECCV, September. 2018.<br>

    </p>
  </div>





  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Taeyong Song(Ph.D. Student)'s paper has been accepted in <b>BMVC (Oral) </b>, <i>Sep. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Deep Network for Simultaneous Stereo Matching and Dehazing"</b><br>
    T. Song, Y. Kim, C. Oh, and K. Sohn <br>
    BMVC, September. 2018.<br>

    </p>
  </div>




  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sungil Choi(Ph.D. Student)'s paper has been accepted in <b>CVPR Workshop</b>, <i>June. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Learning Descriptor, Confidence, and Depth Estimation in Multi-view Stereo"</b><br>
    S. Choi, S. Kim, K. Park, and K. Sohn <br>
    IEEE Conf. Computer Vision Pattern Recognition(CVPR) Workshop, June 2018.<br>

    </p>
  </div>





  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Youngjung Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Processing</b>, <i>May. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Deep Monocular Depth Estimation via Integration of Global and Local Predictions"</b><br>
    Y. Kim, H. Jung, D. Min, and K. Sohn <br>
    IEEE Trans. on Image Processing, May 2018.<br>

    </p>
  </div>



  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Postdoctoral Researcher), being named the 33th Chun-Gang Outstanding Research Award 2018</b>, <i>June. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>Achievement : IEEE Trans. on Pattern Analysis and Machine Intelligence Vol.39, No.9, pp1712-1729, September, 2017"</b><br>
    </p>
  </div>





  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Changjae Oh(Ph.D.) will join the postdoctoral researcher of <a href="https://www.qmul.ac.uk/" target="_blank">Queen Mary University of London</a>, <i>April. 2018</i></li>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jaehoon Cho(Ph.D. Student)'s paper has been accepted in <b>ICME (Oral)</b>, <i>July. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Multi-task Self-supervised Visual Representation Learning for Monocular Road Segmentation."</b> <br>
    J. Cho, Y. Kim, H. Jung, C. Oh, J. Youn, and K. Sohn <br>
    IEEE International Conference on Multimedia and Expo (ICME), July 2018.<br>

    </p>
  </div>



  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Kihong Park(Ph.D. Student)'s paper has been accepted in <b>Pattern Recognition</b>, <i>March. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Unified Multi-spectral Pedestrian Detection Based on Probabilistic Fusion Networks."</b> <br>
    K. Park, S. Kim, and K. Sohn <br>
    Pattern Recognition (PR), March 2018.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Jiyoung Lee(Ph.D. Student)'s paper has been accepted in <b>ICASSP</b>, <i>April. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Spatiotemporal Attention Based Deep Neural Networks for Emotion Recognition."</b> <br>
    J. Lee, S. Kim, S. Kim, and K. Sohn <br>
    IEEE International Conference on Acoustics, Speech, and Signal Processing (ICASSP), April 2018.<br>

    </p>
  </div>



  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Kihong Park(Ph.D. Student)'s paper has been accepted in <b>ICRA</b>, <i>May. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"High-precision Depth Estimation with the 3D LiDAR and Stereo Fusion."</b> <br>
    K. Park, S. Kim, and K. Sohn <br>
    International Conference on Robotics and Automation (ICRA), May 2018.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted  in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Jan. 2018</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence."</b> <br>
    S. Kim, D. Min, B. Ham, S. Lin , and K. Sohn <br>
    IEEE Trans. on Pattern Analysis and Machine Intelligence (TPAMI), Jan 2018.<br>

    </p>
  </div>


  <!--li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Sep. 2016</i></li-->
  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Kyuwon Kim(Ph.D.) being named a 2018 winner of the IEEE Consumer Electronics Society Chester Sall Award for the First place best paper in  <b>IEEE Trans. on Consumer Electronics 2016</b>, <i>Oct. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Non-Parametric Human Segmentation Using Support Vector Machine"</b><br>
    K. Kim, C. Oh, and K. Sohn, <br>
     IEEE Trans. on Consumer Electronics, vol. 62, no. 2, pp. 150-158, May. 2016.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Sunok Kim(Ph.D. Student)'s paper has been accepted for publication in  <b>IEEE Trans. on Image Processing</b>, <i>Aug. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Feature Augmentation for Learning Confidence Measure in Stereo Matching"</b><br>
    S. Kim, D. Min, S. Kim, and K. Sohn <br>
     IEEE Trans. on Image Processing, August 2017.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper  has been accepted in  <b>ICCV (Oral)</b>, <i>Oct. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    </p>
    <img src="/images/iccv17.jpg" style="width:40%;"><br>
    <b>"DCTM: Discrete-Continuous Transform Matching for Semantic Flow"</b><br>
    S. Kim, D. Min, S. Lin, and K. Sohn <br>
    International Conference on Computer Vision(ICCV), October 2017.<br>
    Only oral presentation among Korean authors (top 2%, total of 40 papers).<br><br>
    This research was performed in collaboration with Dr. Steve Lin from Microsoft Research Asia (MSRA) and published on the Microsoft research  Blog <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/articles/matching-points-objects-different-shapes-styles/">Link</a>.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! 8 members' papers have been accepted in  <b>ICIP</b>, <i>Sep. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Pedestrian Proposal Generation using Depth-aware Scale Estimation"</b><br>
    K. Park, S. Kim and K. Sohn <br>
    <b>"Deep Stereo Confidence Prediction for Depth Estimation"</b><br>
    S. Kim, D. Min, B. Ham, S. Kim and K. Sohn <br>
    <b>"Depth Prediction from a Single Image with Conditional Adversarial Networks"</b><br>
    H. Jung, Y. Kim, D. Min, C. Oh and K. Sohn <br>
    <b>"Multi-spectral Human Co-segmentation via Joint Convolutional Neural Networks"</b><br>
    S. Choi, S. Kim, K. Park and K. Sohn <br>
    <b>"Automatic 2D-to-3D Conversion using Multi-scale Deep Neural Network"</b><br>
    J. Lee, H. Jung, Y. Kim and K. Sohn <br>
    <b>"Unsupervised Stereo Matching using Correspondence Consistency"</b><br>
    S. Joung, S. Kim, B. Ham and K. Sohn <br>
    <b>"Convolutional Feature Pyramid Fusion via Attention Network"</b><br>
    S. Jeon, S. Kim and K. Sohn <br>
    <b>"Convolutional Cost Aggregation for Robust Stereo Matching"</b><br>
    S. Jeong, S. Kim, B. Ham and K. Sohn <br>
    IEEE International Conference on Image Processing(ICIP), September 2017.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Youngjung Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Processing</b>, <i>May. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Fast Domain Decomposition for Global Image Smoothing"</b><br>
    Y. Kim, D. Min, B. Ham, and K. Sohn <br>
    IEEE Trans. on Image Processing, May 2017.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>An article about collaboration between MSRA and DIML is published on <b>the Microsoft Webpage</b>, <i>May. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b><a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/articles/collaboration-msra-yonsei-university-generates-computer-vision-breakthrough/" target="_blank">Link to article</a></b> <br>
    <b>"Unified Depth Prediction and Intrinsic Image Decomposition from a Single Image via Joint Convolutional Neural Fields"</b><br>
    S. Kim, K. Park, K. Sohn, and S. Lin <br>
    in Proc. European Conference on Computer Vision(ECCV), May 2017.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Youngjung Kim(Ph.D. Student)'s paper has been accepted in <b>CVPR (spotlight)</b>, <i>Mar. 2017</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Deeply Aggregated Alternating Minimization for Image Resotration."</b> <br>
    Y. Kim, H. Jung, D. Min, and K. Sohn <br>
    IEEE Conf. Computer Vision Pattern Recognition(CVPR), Mar 2017.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted in <b>CVPR</b>, <i>Mar. 2017</i></li>
  </div><DIV style='display:none'>

    <!--p><img src="/images/journal/tpami.png"></p-->
    <p style="color:gray;">
    <b>"FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence."</b> <br>
    S. Kim, D. Min, B. Ham, S. Jeon, S.Lin and K. Sohn <br>
    IEEE Conf. Computer Vision Pattern Recognition(CVPR), Mar 2017.<br>

    </p>
  </div>

  <div class="title">
  <li>Congratulations! Jongin Son(Ph.D.) and Hangil Choi(M.S.) have been graduated from Yonsei Univ. <i>Feb. 2017</i></li>
  </div><DIV style='display:none'>

  </div>



  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Processing</b>, <i>Nov. 2016</i></li>
  </div><DIV style='display:none'>

    <!--p><img src="/images/journal/tpami.png"></p-->
    <p style="color:gray;">
    <b>"Modality-Invariant Image Classification Based on Modality Uniqueness and Dictionary Learning."</b> <br>
    S. Kim, R. Cai, K. Park, S. Kim, and K. Sohn <br>
    IEEE Trans. on Image Processing, November 2016.<br>

    </p>
  </div>


  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Sep. 2016</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"DASC: Robust Dense Descriptor for Multi-modal and Multi-spectral Correspondence Estimation."</b> <br>
    S. Kim, D. Min, B. Ham, M. Do, and K. Sohn <br>
    IEEE Trans. on Pattern Analysis and Machine Intelligence (TPAMI), September 2016.<br>

    </p>
  </div>

  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungryong Kim(Ph.D. Student), Kihong Park(Ph.D. Student) and Hangil Choi(M.S. Student) won the <b>Hyundai Hackathon Callenge 2016</b>, <i>Aug. 2016</i></li>
  </div><DIV style='display:none'>
    <br>
    <p><img src="/images/hakatone.jpg" style="width:40%; height:40%;">
    <p style="color:gray;">
    <b>S. Kim, K. Park, and H. Choi</b> <br>
    Hyundai Hackathon Callenge 2016 <br>
    </p>
  </div>



  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Seungchul Ryu(Ph.D. Student)'s paper has been accepted for publication in <b>Pattern Recognition</b>, <i>Sep. 2016</i></li>
  </div><DIV style='display:none'>

    <p style="color:gray;">
    <b>"Local Area Transform for Cross Modal Correspondence Matching."</b> <br>
    S. Ryu, S. Kim, and K. Sohn <br>
    Pattern Recognition (PR), September 2016.<br>

    </p>
  </div>
  <!--li>Congratulations! Seungryong Kim(Ph.D. Student), Kihong Park(Ph.D. Student) and Hangil Choi(M.S. Student) won the <b>Hyundai Hackathon Callenge 2016</b>, <i>Aug. 2016</i></li-->
  <div class="title" onclick=this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none'; style="cursor: pointer;">
  <li>Congratulations! Youngjung Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Processing</b>, <i>Aug. 2016</i></li>
  </div><DIV style='display:none'>

    <!--p><img src="/images/journal/tpami.png"></p-->
    <p style="color:gray;">
    <b>"Structure selective depth super-resolution for RGB-D cameras."</b> <br>
    Y. Kim, B. Ham, C. Oh, and K. Sohn <br>
    IEEE Trans. on Image Processing, August 2016.<br>

    </p>
  </div>

  <li>Congratulations! Bumsub Ham(Ph.D.) will join the faculty of <a href="http://www.yonsei.ac.kr/" target="_blank">Yonsei University</a>, <i>Aug. 2016</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s papers have been accepted in <b>ECCV (spotlight)</b>, <i>Jul. 2016</i></li>

  <!--
  <li>Donghyun Kim(Ph.D.), Wonjoo Choi(M.S.), and Junghyun Seo(M.S.) have been graduated from Yonsei Univ. <i>Feb. 2016</i></li>
  <li>Congratulations! <a href="https://sites.google.com/site/globalsmoothing/" target="_blank"> FGS (Fast Global Smoother)</a>, co-developed by our lab, has been offically integrated into <a href="http://docs.opencv.org/master/de/d13/classcv_1_1ximgproc_1_1FastGlobalSmoothrefilter.html#gsc.tab=0" target="_blank">OpenCV 3.1</a>, <i>Dec. 2015</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student) has joined an internship at Microsoft Reasearch in Bejing</a>, <i>Sep. 2015</i></li>
  -->
  <!--

  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Pattern Analysis and Machine Intelligence</b>, <i>Sep. 2016</i></li>
  <li>Congratulations! Seungchul Ryu(Ph.D. Student)'s paper has been accepted for publication in <b>Pattern Recognition</b>, <i>Sep. 2016</i></li>
  <li>Congratulations! Kihong Park(Ph.D. Student)'s paper has been accepted in <b>APSIPA</b>, <i>Aug. 2016</i></li>
  <li>Congratulations! Changjae Oh(Ph.D. Student)'s paper has been accepted in <b>ACCV</b>, <i>Aug. 2016</i></li>
  <li>Congratulations! Jongin Son(Ph.D. Student)'s paper has been accepted for publication in <b>Expert Systems With Applications</b>, <i>Aug. 2016</i></li>
  <li>Congratulations! Youngjung Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Processing</b>, <i>Aug. 2016</i></li>
  <li>Congratulations! Bumsub Ham(Ph.D.) will join the faculty of <a href="http://www.yonsei.ac.kr/" target="_blank">Yonsei University</a>, <i>Aug. 2016</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s papers have been accepted in <b>ECCV</b>, <i>Jul. 2016</i></li>
  <li>Congratulations! Hangil Choi(M.S. Student)'s paper has been accepted in <b>ICPR</b>, <i>Jul. 2016</i></li>
  <li>Congratulations! Kyuwon Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Consumer Electronics</b>, <i>Jun. 2016</i></li>
  <li>Congratulations! Hyoung Lee(Ph.D. Student)'s paper has been accepted for publication in <b>Optics Express</b>, <i>Jun. 2016</i></li>
  <li>Donghyun Kim(Ph.D.), Wonjoo Choi(M.S.), and Junghyun Seo(M.S.) have been graduated from Yonsei Univ. <i>Feb. 2016</i></li>
  <li>Congratulations! <a href="https://sites.google.com/site/globalsmoothing/" target="_blank"> FGS (Fast Global Smoother)</a>, co-developed by our lab, has been offically integrated into <a href="http://docs.opencv.org/master/de/d13/classcv_1_1ximgproc_1_1FastGlobalSmoothrefilter.html#gsc.tab=0" target="_blank">OpenCV 3.1</a>, <i>Dec. 2015</i></li>
  <li>Congratulations! Donghyun Kim(Ph.D. Student)'s paper has been accepted for publication in <b>Optical Engineering</b>, <i>Nov. 2015</i></li>
  <li>Congratulations! Sunghwan Choi(Ph.D.)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process</b>, <i>Sep. 2015</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student) has joined an internship at Microsoft Reasearch in Bejing</a>, <i>Sep. 2015</i></li>
  <li>Congratulations! Xingang Liu(Ph.D.) promoted to the professor at <a href="http://en.uestc.edu.cn/" target="_blank">University of Electronic Science and Technology of China</a>, <i>Jul. 2015</i></li>
  <li>Congratulations! Jongin Son(Ph.D. Student)'s paper has been accepted for publication in <b>Expert Systems With Applications</b>, <i>Jul. 2015</i></li>
  <li>Congratulations! Kyuwon Kim(Ph.D. Student)'s paper has been accepted in <b>BMVC</b>, <i>Jul. 2015</i></li>
  <li>Congratulations! Kihong Park(M.S. Student)'s paper has been accepted in <b>BMVC</b>, <i>Jul. 2015</i></li>
  <li>Congratulations! Sunghwan Choi(Ph.D.)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process</b>, <i>Jun. 2015</i></li>
  <li>Congratulations! Jongin Son(Ph.D. Student)'s paper has been accepted for publication in <b>Multimedia Tools and Applications</b>, <i>May 2015</i></li>

  -->

  <!--<li>Congratulations! Deukhyun Kim(M.S.)'s paper has been accepted for publication in <b>Expert Systems With Applications</b>, <i>Apr. 2015</i></li>
  <li>Congratulations! Donghyun Kim(Ph.D. Student)'s paper has been accepted for publication in <b>Optical Engineering</b>, <i>Apr. 2015</i></li>
  <li>Congratulations! Dongbo Min(Ph.D.) became the assistant professor at <a href="http://www.cnu.ac.kr/" target="_blank">Chungnam National University</a>, <i>Mar. 2015</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted in <b>IEEE Conf. on Computer Vision and Pattern Recognition</b>, <i>Mar. 2015</i></li>
  <li>Hunjae Yoo(Ph.D.), Sunghwan Choi(Ph.D.), Seungwon Woo(M.S), and  Junhyung Kim(M.S) have been graduated from Yonsei Univ. <i>Feb. 2015</i></li>
  <li>Congratulations! Bumsub Ham(Ph.D.)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process</b>, <i>Feb. 2015</i></li>
  <li>Congratulations! Changjae Oh(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Broadcasting</b>, <i>Feb. 2015</i></li>
  <li>Congratulations! Prof. Kwanghoon Sohn was selected as '<b>2014 Underwood Distinguished Professor</b>', <i>Sep. 2014</i>   <br>  News link : <a href="http://yonseitoday.yonsei.ac.kr/eand/html/ystoday.asp?mid=n02&page=1&act=articleview&seq=20880" target="_blank">2014 Underwood and Avison Distinguished Professor</a> </li>
  <li>Congratulations! Sunghwan Choi(Ph.D. Student) won the electronic times prize in <b>ITRC student award</b>, <i>Sep. 2014</i></li>
  <li>Congratulations! Jongin Son(Ph.D. Student)'s paper has been accepted for publication in <b>Expert Systems With Applications</b>, <i>Sep. 2014</i></li>
  <li>Congratulations! Bumsub Ham(Ph.D.) won the grand prize in <b>the 29th Chungang academic award</b>, <i>Jun. 2014</i></li>
  <li>Congratulations! Seungryong Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Circuits and Systems for Video Technology</b>, <i>May 2014</i></li>-->
  <!--<li>Minsung Kang(Ph.D), Jinwook Choi(Ph.D), and Deukhyun Kim(M.S) have been graduated from Yonsei Univ. <i>Feb. 2014</i></li>-->
  <!--<li>Congratulations! Bumsub Ham(Ph.D.)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process.</b>, <i>Dec. 2013</i></li>
  <li>Postdoctoral Researcher and Research Professor Positions in 3D Video Processing and Computer Vision are currently opening.</i></li>
  <li>Bumsub Ham(Ph.D.) graduated from Yonsei Univ. <i>Aug. 2013</i></li>
  <li>Congratulations! Seungchul Ryu(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Circuits and Systems for Video Technology</b>, <i>Aug. 2013</i></li>
  <li>Congratulations! Jinwook Choi(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Circuits and Systems for Video Technology</b>, <i>Aug. 2013</i></li>
  <li>Congratulations! Bumsub Ham(Ph.D. Student) is awarded at <b>"Certificate of Merit, 2013 School of Yonsei University Thesis Award"</b> in <i>May 2013</i></li>
  <li>Congratulations! Donghyun Kim(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Consumer Electronics</b>, <i>May 2013</i></li>
  <li>Congratulations! Bongjoe Kim(Ph.D)'s paper has been accepted for publication in <b>Pattern Recognition</b>, <i>Apr. 2013</i></li>
  <li>Congratulations! Hunjae Yoo(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Intelligent Transportation Systems</b>, <i>Feb. 2013</i></li>
  <li>Bongjoe Kim(Ph.D), Jihyun Kim(M.S), Changjae Oh(M.S) and Changbeom Oh(M.S) have been graduated from Yonsei Univ. <i>Feb. 2013</i></li>
  <li>Congratulations! Bumsub Ham(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process.</b>, <i>Feb. 2013</i></li>
  <li>Congratulations! Sunghwan Choi(Ph.D. Student)'s paper has been accepted for publication in <b>IEEE Trans. on Image Process.</b>, <i>Jan. 2013</i></li>-->
  <!--<li><font color=FF00aa><b>Wedding invitation</b></font> of <b>Dongjoo Lee (M.S in 2007)</b> in <i>Nov. 17, 2012</i> <b><a href='popup_leedongjoo_wedding.htm' target=_blank>[Detail]</a></b> </li>-->
  <!--<li>Juhyun Oh(Ph.D), Hyoungchul Shin(Ph.D), and Zheng Yan(M.S) graduated from Yonsei Univ. <i>Aug. 2012</i></li>-->
  <!--<li>New homepage is opened. <i>2012.2.27</i></li>-->
</ul>
<br>
