<div id="overlay">
    <div id="myModal" class="modal">
        <div class="modal_header">
            <h3>&nbsp;DIML Recent News</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal_content">
            <div class="w3-content w3-section" style="max-width:600px; ">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/2021_03/Slide1.png" >
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/2021_03/Slide2.png" >
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup1.PNG">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup2.PNG">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup3.PNG">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup4.PNG">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup5.PNG">
                <img class="mySlides2" style="width:600px; height:500px" src="/images/Popup/Popup6.PNG">
                <!-- <img class="mySlides2" src="/images/Popup/Popup7.PNG" style="width:600px; height:500px"> -->
                <div class="w3-center">
                    <div class="w3-section">
                        <button class="w3-btn" onclick="plusDivs(-1)">❮ Prev</button>
                        <button class="w3-btn" onclick="plusDivs(1)">Next ❯</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>