
		<h2>Recent activities </h2>
		<p>
		<ul>
		<li><b>ICIP 2019</b>, Taipei, Taiwan: <b>M. Kim</b>, "Unpaired Cross-Spectral Pedestrian Detection Via Adversarial Feature Learning"</li>
		<li><b>ICIP 2019</b>, Taipei, Taiwan: <b>J. Park</b>, "Graph Regularization Network with Semantic Affinity for Weakly-supervised Temporal Action Localization"</li>
		<li><b>CVPR 2019</b>, Long Beach, CA: <b>S. Kim</b>, "LAF-Net: Locally Adaptive Fusion Networks for Stereo Confidence Estimation"</li>
		<li><b>CVPR 2019</b>, Long Beach, CA: <b>S. Kim</b>, "Semantic Attribute Matching Networks"</li>
		<li><b>NIPS 2018</b>, Montreal, Canada: <b>S. Kim</b>, "Recurrent Transformer Networks for Semantic Correspondence"</li>
		<li><b>CIC26 2018</b>, Vancouver, Canada: <b>Y. Cho</b>, "Reversible Colour Appearance Scales for Describing Saturation, Vividness, Blackness, and Whiteness for Image Enhancement"</li>
		<li><b>ACMMM Workshop 2018</b>, Seoul, Korea: <b>J. Lee</b>, "Audio-Visual Attention Networks for Emotion Recognition"</li>
		<li><b>ACMMM Workshop 2018</b>, Seoul, Korea: <b>J. Park</b>, "Learning to Detect, Associate, and Recognize Human Actions and Surrounding Scenes in Untrimmed Videos"</li>
		<li><b>ECCV 2018</b>, Munich, Germany: <b>S. Jeon</b>, "PARN : Pyramidal Affine Regression Networks for Dense Semnatic Correspondence Estimation"</li>
		<li><b>BMVC 2018</b>, Newcastle upon Tyne, UK: <b>T. Song</b>, "Deep Network for Simultaneous Stereo Matching and Dehazing"</li>
		<li><b>ICME 2018</b>, Sandiego, US: <b>J. Cho</b>, "Multi-task Self-supervised Visual Representation Learning for Monocular Road Segmentation"</li>
		<li><b>CVPR Workshop 2018</b>, Salt Lake City, US: <b>S. Choi</b>, "Learning Descriptor, Confidence, and Depth Estimation in Multi-view Stereo"</li>
		<li><b>ICRA 2018</b>, Brisbane, Australia: <b>K. Park</b>, "High-precision Depth Estimation with the 3D LiDAR and Stereo Fusion"</li>
		<li><b>ICASSP 2018</b>, Calgary, Canada: <b>J. Lee</b>, "Spatiotemporal Attention Based Deep Neural Networks for Emotion Recognition"</li>
		<li><b>ICCV 2017</b>, Venice, Italy: <b>S. Kim</b>, "DCTM: Discrete-Continuous Transform Matching for Semantic Flow"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>K. Park</b>, "Pedestrian Proposal Generation using Depth-aware Scale Estimation"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>S. Kim</b>, "Deep Stereo Confidence Prediction for Depth Estimation"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>H. Jung</b>, "Depth Prediction from a Single Image with Conditional Adversarial Networks"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>S. Choi</b>, "Multi-spectral Human Co-segmentation via Joint Convolutional Neural Networks"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>J. Lee</b>, "Automatic 2D-to-3D Conversion using Multi-scale Deep Neural Network"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>S. Joung</b>, "Unsupervised Stereo Matching using Correspondence Consistency"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>S. Jeon</b>, "Convolutional Feature Pyramid Fusion via Attention Network"</li>
		<li><b>ICIP 2017</b>, Beijing, China: <b>S. Jeong</b>, "Convolutional Cost Aggregation for Robust Stereo Matching"</li>
		<li><b>CVPR 2017</b>, Hawaii, US: <b>Y. Kim</b>, "Deeply Aggregated Alternating Minimization for Image Resotration"</li>
		<li><b>CVPR 2017</b>, Hawaii, US: <b>K. Kim</b>, "FCSS: Fully Convolutional Self-Similarity for Dense Semantic Correspondence"</li>
		<li><b>ICCE 2017</b>, Las Vegas, US: <b>K. Kim</b>, "Lazy Dragging: Effortless Bounding-box Drawing for Touch-screen Devices"</li>
		<li><b>APSIPA 2016</b>, Jeju, KOR: <b>K. Park</b>, "Homography Flow for Dense Correspondences"</li>
		<li><b>ICPR 2016</b>, Cancun, MEX: <b>H. Choi</b>, "Multi-spectral Pedestrian Detection Based on Accumulated Object Proposal with Fully Convolution Network"</li>
		<li><b>ACCV 2016</b>, Taipei, TPE: <b>C. Oh</b>, "Point-cut: Interactive Image Segmentation using One-point Supervision"</li>
		<li><b>ECCV 2016</b>, Amsterdam, NLD: <b>S. Kim</b>, "Deep Self-Convolutional Activations Descriptor for Dense Cross-Modal Correspondence"</li>
		<li><b>ECCV 2016</b>, Amsterdam, NLD: <b>S. Kim</b>, "Unified Depth Prediction and Intrinsic Image Decomposition from a Single Image via Joint Convolutional Neural Fields"</li>
		<li><b>ICIP 2016</b>, Arizona, US: <b>S. Kim</b>, "ANCC FLOW: Adaptive Normalized Cross-Correlation with Evolving Guidance Aggregation for Dense Correspondence Estimation"</li>
		<li><b>EI 2016</b>, San Francisco, US: <b>S. Choi</b>, "Multi-level segment based dense correspondence: an affine transformation approach"</li>
		<li><b>EI 2016</b>, San Francisco, US: <b>H. Jung</b>, "Depth Extraction from a Single Image Based on Block-Matching and Robust Regression"</li>
		<li><b>ICCE 2016</b>, Las Vegas, US: <b>K. Kim</b>, "Non-Parametric Human Segmentation Using Support Vector Machine"</li>

		</ul>

		</p>
