<section id="section-count" class="page-section">

  <div class="section dark parallax nobottommargin" style="padding: 80px 0;background-image: url('images/parallax.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
        <i class="i-plain i-xlarge divcenter nobottommargin icon-home2"></i>
        <div class="counter counter-lined"><span data-from="100" data-to="20" data-refresh-interval="10" data-speed="2000"></span></div>
        <h5>Members</h5>
      </div>

      <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
        <i class="i-plain i-xlarge divcenter nobottommargin icon-leaf"></i>
        <div class="counter counter-lined"><span data-from="100" data-to="206322" data-refresh-interval="10" data-speed="2500"></span></div>
        <h5>Alumni</h5>
      </div>

      <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
        <i class="i-plain i-xlarge divcenter nobottommargin icon-coffee2"></i>
        <div class="counter counter-lined"><span data-from="10" data-to="3861" data-refresh-interval="25" data-speed="3500"></span></div>
        <h5>Journal Papers</h5>
      </div>

      <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
        <i class="i-plain i-xlarge divcenter nobottommargin icon-book"></i>
        <div class="counter counter-lined"><span data-from="0" data-to="13" data-refresh-interval="10" data-speed="2700"></span>+</div>
        <h5>Conference Papers</h5>
      </div>

    </div>

  </div>

</section>
