<script>
    // 모달창 열기 이벤트
    $("#myBtn").on("click", function () {
        $("#overlay").css({
            visibility: "visible",
            opacity: 1
        });
    });

    // 모달창 닫기 이벤트

    $(".close").on("click", function () {
        $("#overlay").css({
            visibility: "hidden",
            opacity: 0
        });
    });

    $(document).on("click", function (e) {
        if ($("#overlay").is(e.target)) {
            $("#overlay").css({
                visibility: "hidden",
                opacity: 0
            });
        }
    });
</script>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides2");

        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides2");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>