<div id="footer">
  <p style="text-align: center">
  <a href="index.html">Home</a> |
  <a href="introduction.html">Introduction</a> |
  <a href="research.html">Research</a> |
  <a href="professor.html">People</a> |
  <a href="lecture.html">Lecture</a> |
  <a href="pub_intljournal.html">Publications</a> |
  <a href="photo.html">Photo</a> |
  <a href="dataset.html">Dataset</a> |
  <a href="contact.html">Contact</a>
  </p>

  <p>
  <img src="images/diml_logo1.png"><br>
  &copy; 2012
  <a href="http://diml.yonsei.ac.kr">Digital Image Media Lab</a> @ <a href="http://www.yonsei.ac.kr">Yonsei University</a>
  </p>
</div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29578563-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104159868-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
	var myIndex = 0;
	carousel();

	function carousel() {
		var i;
		var x = document.getElementsByClassName("mySlides");
		for (i = 0; i < x.length; i++) {
			 x[i].style.display = "none";
		}
		myIndex++;
		if (myIndex > x.length) {myIndex = 1}
		x[myIndex-1].style.display = "block";
		setTimeout(carousel, 3000); // Change image every 2 seconds
	}
</script>
