<head>
	<meta http-equiv="content-type" content="text/html; charset=euc-kr" />
	<meta name="description" content="Digital Image Media laboratory" />
	<meta name="keywords" content="diml, yonsei, image processing, 3D"/>
	<meta name="author" content="Eungbean Lee"/>
	<link rel="stylesheet" type="text/css" href="1024px.css" title="1024px" media="screen,projection" />
	<!--link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"-->
	<title>Digital Image Media Lab</title>

<style>
.mySlides {display:none;}
.title:hover {background-color:#BDBDBD;}
</style>



</head>
