<html>
<head>
  <title>Document</title>
</head>
<body>
<h1>POPUP !!</h1>
</body>
</html>
<!--<html>
	<head>
		<title>:: DIML NOTICE ::</title>
		<link rel="stylesheet" href="css/style.css" style type="text/css">

    <script language="JavaScript" type="text/JavaScript">

  function showPopup()
  {
    window.open("diml_popup.html", "a", "width=400, height=300, left=100, top=50");
  }

    </script>
  </head>

  <body>
  <h1>POPUP !!</h1>
  </body> -->

<!--<body onload="OpenWin()">

<br><b><center>DIML </center></b><br><br>
		<b><center>DIML .</center><br>
		<b><center>asdasd.</center><br>


		<br><b><center>asdasdsad.</center><br>
		<br>
		<b><center>dsadasdasdasd </center><br>
		<center><img src="images\events\ss_wedding.png" width=500 border=0><center><br>
		<b><br><center>asdasdasd.</center>
		<br>
		<br>

    <table width="400" height="30" border="0" cellpadding="0" cellspacing="0">

    <tr>
    	<td height="30" align="right" bgcolor"535050">
    		<input type="checkbox" name="Notice" value="Y"> adasdasd.
    		<a href="javascript:window.close()"> <b>[close]</b></a>
    	</td>
    </tr>


    </body>


    </html>
    -->
