<div id="sidebar">

  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>

    <li><a href="/introduction">Introduction</a></li>

    <li><a href="/research">Research</a>
      <ul>
        <li><a href="/research/">Overview</a><br>
        <li><a href="/projects/">Projects</a></li>
      </ul>
    </li>

    <li><a href="/professor">People</a>
      <ul>
        <li><a href="/professor">Professor</a><br>
        <li><a href="/postdoc">Research Professor</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/alumni">Alumni</a></li>
      </ul>
    </li>

    <li><a href="/lecture">Lecture</a>
      <ul>
        <li><a href="/lecture#lec_undergraduate">Undergraduate</a><br>
        <li><a href="/lecture#lec_graduate">Graduate</a></li>
        <li><a href="/lecture#lec_enggraduate">Graduate (Engineering)</a></li>
      </ul>
    </li>

    <li><a href="/pub_intljournal">Publications</a>
      <ul>
        <li><a href="/pub_intljournal">International Journals</a><br>
        <li><a href="/pub_intlconf">International Conferences</a></li>
        <li><a href="/pub_domesjournal">Domestic Journals</a></li>
        <li><a href="/pub_domesconf">Domestic Conferences</a></li>
        <li><a href="/pub_patents">Patents</a></li>
      </ul>
    </li>

    <li><a href="/photo">Photo</a>
    </li>

    <li><a href="/dataset">Dataset</a>
    </li>

    <li><a href="/contact">Contact</a>
    </li>
  </ul>

  <h2>Contact</h2>
  <ul>
    <li>C129, The 3rd Engineering Building, Yonsei University, 50 Yonsei-ro, Seodaemun-Gu, Seoul 120-749, Korea</li>
    <li><b>Phone</b>: +82-2-2123-2879<br>
    <b>Fax</b>: +82-2-313-2879<br>
    <b>Email</b>: khsohn<img src="/images/at.png" align=middle>yonsei.ac.kr</li>
    <li></li>
    <li></li>
  </ul>

  <center>
  <a href="http://ee.yonsei.ac.kr" target="_blank"><img src="/images/banner_ee.png"></a><br><br>
  <a href="http://ieeexplore.ieee.org" target="_blank"><img src="/images/banner_ieee.png"></a><br><br>
  <a href="http://www.spiedigitallibrary.org/" target="_blank"><img src="/images/banner_spie.png"></a></center><br>

</div>
