---
layout: default
permalink: /pub_patents/
---
		<h2>Patents</h2>
		<h3>Patent application in progress (Domestic)</h3>
		<div style="background-color: #f1f1f1;"><ul>
			{% for patent in site.data.patents_ongoing.domestic %}
			<li><b>{{patent.who}}</b>, <br>"{{patent.what}},"</br> 제{{patent.number}}호, <i>{{patent.when}}</i></li>
			{% endfor %}
		</ul></div>
		<h3>Patent application in progress (International)</h3>
		<div style="background-color: #f1f1f1;"><ul>
			{% for patent in site.data.patents_ongoing.international %}
			<li><b>{{patent.who}}</b>, <br>"{{patent.what}},"</br> 제{{patent.number}}호, <i>{{patent.when}}</i></li>
			{% endfor %}
		</ul></div>

		<h3>International Patents</h3>
		<p>
			{% for patent in site.data.patents_international %}
			<li><b>{{patent.who}}</b>, <br>"{{patent.what}},"</br> {{patent.number}}, <i>{{patent.when}}</i></li>
			{% endfor %}
  		</p>

		<h3>Domestic Patents</h3>
		<p>
			{% for patent in site.data.patents_domestic %}
			<li><b>{{patent.who}}</b>, <br>"{{patent.what}},"</br> 제{{patent.number}}호, <i>{{patent.when}}</i></li>
			{% endfor %}
  		</p>