<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=euc-kr" />
	<meta name="description" content="Digital Image Media laboratory" />
	<meta name="keywords" content="diml, yonsei, image processing, 3D"/>
	<meta name="author" content="Eungbean Lee"/>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>-->
	<link rel="stylesheet" type="text/css" href="/1024px.css" title="1024px" media="screen,projection" />
	<title>Digital Image Media Lab</title>


	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-150360418-1"></script>


	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script>
	$(document).ready(function(){
	    var main = $('.bxslider').bxSlider({
	    mode: 'fade',
	    auto: true,	//자동으로 슬라이드
	    controls : true,	//좌우 화살표
	    autoControls: true,	//stop,play
	    pager:true,	//페이징
	    pause: 3000,
	    autoDelay: 0,
	    slideWidth: 800,
	    speed: 500,
	    stopAutoOnclick:true
	});

	$(".bx-stop").click(function(){	// 중지버튼 눌렀을때
	    main.stopAuto();
	    $(".bx-stop").hide();
	    $(".bx-start").show();
	    return false;
	});

	$(".bx-start").click(function(){	//시작버튼 눌렀을때
	    main.startAuto();
	    $(".bx-start").hide();
	    $(".bx-stop").show();
	    return false;
	});

	  $(".bx-start").hide();	//onload시 시작버튼 숨김.
	});
	</script>


<style>
.mySlides {display:none;}
.title:hover {background-color:#BDBDBD;}
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150360418-1');
</script>

<style>
#overlay { width:100%;
               height:100%;
               background:rgba(0,0,0,0.4);
               position:fixed;
               top:0; left:30%;
               z-index:1;
               visibility:visible;
               opacity:10;
               transition:all 0.5s ease;
              }
h2, p, h3 { margin:0; padding:0 }
.modal { width:90%;
				background:#f5f5f5;
				margin:150px auto;
				justify-content: center;
	      align-items: center;}
.modal_header { width:90%; position:relative; }
.modal_content { width:90%;
                         background:#fefefe;
                         border:1px solid #888;
                         box-sizing:border-box;
                         height:300px;  }
.close { position:absolute;
	top:10px; right:20px;
	font-size:28px;
	color:#aaa;
	font-weight:bold;   }
.close:hover, .close:focus {
	color:#000;
	cursor:pointer;
}
</style>

</head>


<body>
<!-- Top menu -->
<div style="margin:0px auto; padding:0; width:1010px;">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr><td><img src="/images/topbanner.png" border=0  usemap="#MenuLink"></td></tr>
{% if page.url=="/" %}
<tr><td valign=top><img width=1009 src="/images/main_cover.png" border=0></td></tr>
{% endif %}
</table>
</div>

{% if page.url=="/" %}
<div id="overlay" style="margin:0px center; padding:0; width:700px;">
	<div id="myModal" class="modal">
		<div class="modal_header">
        <h3>DimL Recent News</h3>
        <span class="close">&times;</span>
     </div>
   <div class="modal_content">
		 <div class="home__slider">
	  <div class="bxslider">
	      <div><img src="/images/banner/Sunok_KAU_2.PNG" width="600" alt="" title="이미지1"></div>
	      <div><img src="/images/banner/minsoo_AAAI2021_2.PNG" width="600" alt="" title="이미지2"></div>
	      <div><img src="/images/banner/Hyungjoo_AAAI2021_2.PNG" width="600" alt="" title="이미지3"></div>
	  </div>
	</div>
  </div>
</div>
</div>
{% endif %}

<!-- { include head.html %} --> <!-- if use this line, add % before include -->

<!--<div style="margin:0px auto; padding:0; width:1010px;">
	<table width=100% border=0 cellpadding=0 cellspacing=0>
	<tr><td><img src="/images/topbanner.png" border=0  usemap="#MenuLink"></td></tr>
	{% if page.url=="/" %}
	<tr><td valign=top><img width=1009 src="/images/main_cover.png" border=0></td></tr>
	</table>
	<div id="overlay">
		<div id="myModal" class="modal">
     <div class="modal_header">
        <h3>DimL Recent News</h3>
				<span class="close">&times;</span>
     </div>-->
  <!-- <hr style="border: solid 2px white"> -->
  <!-- <hr style="border: solid 3px #0B0B61;"> -->
	<!--<div class="modal_content">
		<img width=1009 src="/images/main_cover.png" border=0>
  <div id="carouselControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselControls" data-slide-to="0" class="active"></li>
      <li data-target="#carouselControls" data-slide-to="1"></li>
      <li data-target="#carouselControls" data-slide-to="2"></li>
      <li data-target="#carouselControls" data-slide-to="3"></li>
      <li data-target="#carouselControls" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
            <img class="d-block w-100" width="1009" src="/images/banner/main_cover_change_size.png" alt="Slide 0">
      </div>
      <div class="item">
            <img class="d-block w-100" width="1009" src="/images/banner/Sunok_KAU_2.PNG" alt="Slide 1">
      </div>
      <div class="item">
            <img class="d-block w-100" width="1009" src="/images/banner/minsoo_AAAI2021_2.PNG" alt="Slide 2">
      </div>
      <div class="item">
            <img class="d-block w-100" width="1009" src="/images/banner/Hyungjoo_AAAI2021_2.PNG" alt="Slide 3">
      </div>
      <div class="item">
            <img class="d-block w-100" width="1009" src="/images/banner/Seungryong_prize.PNG" alt="Slide 4">
      </div>
    </div>
    <a class="left carousel-control" href="#carouselControls" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselControls" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
</div>
  {% endif %}
</div>-->

<div id="wrap">

<!-- Contents -->
	<div id="content" style="width: 750px;">

{{ content }}

	</div>
<!-- Contents -->
<!-- Sidebar -->
{% include sidebar.html %}
<!-- Sidebar -->


<!-- Footer -->

{% include footer.html %}

<!-- Footer -->


</div>

<map name="MenuLink">
<area shape="rect" coords="201, 66, 292, 89" href="/introduction" target="_top" alt="Introduction">
<area shape="rect" coords="311, 66, 379, 89" href="/research" target="_top" alt="Research">
<area shape="rect" coords="398, 66, 452, 89" href="/professor" target="_top" alt="People">
<area shape="rect" coords="473, 66, 532, 89" href="/lecture" target="_top" alt="Lecture">
<area shape="rect" coords="552, 66, 638, 89" href="/pub_intljournal" target="_top" alt="Publications">
<area shape="rect" coords="661, 66, 710, 89" href="/photo" target="_top" alt="Photo">
<area shape="rect" coords="731, 66, 794, 89" href="/contact" target="_top" alt="Contact">
<area shape="rect" coords="29, 10, 452, 58" href="/" target="_top">
</map>

<!-- <map name="MenuLink">
<area shape="rect" coords="201, 66, 292, 89" href="introduction" target="_top" alt="Introduction">
<area shape="rect" coords="311, 66, 379, 89" href="research" target="_top" alt="Research">
<area shape="rect" coords="398, 66, 452, 89" href="professor" target="_top" alt="People">
<area shape="rect" coords="473, 66, 532, 89" href="lecture" target="_top" alt="Lecture">
<area shape="rect" coords="552, 66, 638, 89" href="pub_intljournal" target="_top" alt="Publications">
<area shape="rect" coords="661, 66, 710, 89" href="photo" target="_top" alt="Photo">
<area shape="rect" coords="731, 66, 794, 89" href="contact" target="_top" alt="Contact">
<area shape="rect" coords="29, 10, 452, 58" href="index" target="_top">
</map> -->

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
  // 모달창 열기 이벤트

  //$("#myBtn").on("click", function(){
  //        $("#overlay").css({ visibility:"visible",
  //                                   opacity:1 });
  //});


  // 모달창 닫기 이벤트
  $(".close").on("click", function(){
          $("#overlay").css({ visibility:"hidden",
                                     opacity:0 });
  });

 $(document).on("click", function(e){
        if( $("#overlay").is(e.target)) {
         $("#overlay").css({ visibility:"hidden",
                                     opacity:0 });
    }
  });
</script>

</body>
</html>
